@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Outfit:wght@100..900&display=swap");

/* HERO SECTION */
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 45vh;
  padding: 40px 20px;
  text-align: center;
  color: #111;
  border-radius: 50px;

  background: linear-gradient(120deg, hsl(205, 100%, 50%), #ffffff);
}

.home__content h1 {
  font-size: 3.2rem;
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  margin-bottom: 10px;
}

.home__content p {
  font-size: 1.25rem;
  margin-bottom: 25px;
  font-family: "Outfit", sans-serif;
}

.home__btn:hover {
  background: #222;
}

/* ==========================
      RESPONSIVENESS
========================== */

@media (max-width: 900px) {
  .home__content h1 {
    font-size: 2.6rem;
  }
  .home__content p {
    font-size: 1.1rem;
  }
}

@media (max-width: 600px) {
  .home {
    padding: 30px 15px;
    border-radius: 35px;
    min-height: 20vh;
    background: linear-gradient(90deg, hsl(205, 100%, 50%), #ffffff);
  }

  .home__content h1 {
    font-size: 2rem;
  }

  .home__content p {
    font-size: 1rem;
  }

  .home__btn {
    padding: 10px 18px;
    font-size: 0.95rem;
  }
}

@media (max-width: 400px) {
  .home__content h1 {
    font-size: 1.7rem;
  }

  .home__btn {
    font-size: 0.9rem;
    padding: 8px 15px;
  }
}
